/* Book */
.book {
    /* Layout */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    position: absolute;

    /* Scrolling */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    /* background-image:
      repeating-linear-gradient(#fafafa 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #fafafa 0 1px, transparent 1px 100%);
    background-size: 1vw 1vw; */
}

/* Page */
.page {
    /* Layout */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    position: relative;

    /* Scrolling */
    scroll-snap-align: start;
    scroll-snap-stop: always;
    contain: layout;

    /* Centering */
    display: flex;
}