/* Dividers */
.divider {
    /* Size */
    height: 75vh;
    height: calc(var(--vh, 1vh) * 75);
    width: 120%;

    /* Layout */
    position: absolute;
    top: 110vh;
    top: calc(var(--vh, 1vh) * 110);
    left: -10%;
    transform: rotate(-5deg);
}

/* Colors */
#d1 {
    background-color: black;
}

#d2 {
    background-color: red;
}