/* Dividers */
.divider {
    /* Size */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;

    /* Layout */
    position: absolute;
    bottom: 0;
}

/* Colors */
#d1 {
    background-color: black;
    clip-path: polygon(
        100% 70%,
        100% 100%,
        0% 100%,
        0% 90%
    );
}

#d2 {
    background-color: red;
    clip-path: polygon(
        100% 90%,
        100% 100%,
        0% 100%,
        0% 110%
    );
}