.main {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4fr 1fr;
    gap: 1rem;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.image img {
    max-width: 100%;
    height: auto;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.7rem;
}

.footnote {
    border-top: black solid 1px;
    padding-top: 1rem;
    font-size: 0.7rem;
    letter-spacing: -0.02rem;
}

@media only screen and (max-width: 800px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr 0fr;
        gap: 0.5rem;
    }
    .image > object {
        height: 15rem;
    }
    .footnote {
        font-size: 0.6rem;
    }
}
