/* * */
*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available
}

/* Body */
body {
    /* Sizing */
    overflow: hidden;
    height: -webkit-fill-available;

    /* Animation */
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Fade In Animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Book */
.book {
    /* Sizing */
    height: -webkit-fill-available;
    position: absolute;

    /* Scrolling */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
