/* * */
*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    /* Sizing */
    overflow: hidden;
    height: 100vh;

    /* Animation */
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Fade In Animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Book */
.book {
    /* Sizing */
    height: 100vh;

    /* Scrolling */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Adjustment */
/* html {
    height: -webkit-fill-available;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
.book {
    height: -webkit-fill-available;
} */

@media (pointer:none), (pointer:coarse) {
    body {
        background-color: aqua;
    }
}
@media (pointer:fine) {
    body {
        background-color: green;
    }
}