/* Pages */
.page {
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* Internal */
.internal {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Image */
.image {
    height: 100%;
    position: relative;
}

/* Separator */
.separator {
    width: 2.5%;
    height: 100%;
    position: relative;
}

/* Text */
.text {
    height: 100%;
    position: relative;
    font-family: 'Assistant';
    font-weight: 300;
    font-size: clamp(1.8vh, 1.2vw, 2.1vh);
    letter-spacing: 0.12vh;
}

/* Content */
.content {
    position: absolute;
    bottom: 0;
}

/* Bolding */
b {
    font-weight: 500;
}

/* Mobile */
@media only screen and (max-width: 125vh) {
    .internal {
        flex-direction: column;
    }    

    .separator {
        width: 100%;
        height: 2.5%;
    }
}