/* Projects */
.projects {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5vw;
}

/* Project */
.project {
    /* Fonts */
    font-family: 'Assistant';
    font-weight: 300;
    /* font-size: clamp(1.6vh, 3vw, 1.9vh); */
    font-size: 1.9vh;
    letter-spacing: 0.04vw;

    /* Transition */
    transition: all ease-in-out 0.4s;

    /* User Select */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    display: flex;
}

/* Project Internals */
.projint {
    /* Layout */
    width: 100%;
    height: 100%;
    margin: auto auto;

    /* Border */
    /* border: 1px solid lightgrey; */
    /* color: #666; */
    background-color: #eaeaea;
    color: #000;
    border-radius: 8px;

    /* Centered Text */
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /* Transition */
    transition: all ease-out 0.25s;
    /* filter: blur(0.4px); */
}

/* Project Hover */
.project:hover > .projint {
    color: #000;
    /* border: 1px solid black; */
    background-color: #e0e0e0;
    cursor: pointer;
    width: 92%;
    height: 92%;
    /* filter: blur(0px); */
}

/* Mobile */
@media only screen and (max-width: 125vh) {
    .projects {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 1vw;
        column-gap: 1vw;
    }
}