/* Default Scrollbar */
.book::-webkit-scrollbar{
    width: 0px;
}

/* Custom Scrollbar */
#scrollbar {
    /* Size */
    height: 33.3vh;
    height: calc(var(--vh, 1vh) * 33.3);
    width: 6px;

    /* Position */
    position: absolute;
    top: 0%;
    right: 0%;

    /* Appearance */
    background-color: black;
    border-radius: 1px;
}