.col1, .col2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    justify-content: flex-start;
}

.list {
    font-size: 0.7rem;
    letter-spacing: -0.03rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.pages{
    text-align: right;
}

.main {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.nav > a {
    max-width: calc(-0.5rem + 50%);
}

@media only screen and (max-width: 800px) {
    .list {
        font-size: 0.6rem;
    }
}