* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
}

.book {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;

    /* Scrolling */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}

.book::-webkit-scrollbar{
    width: 0px;
}

#p1 {
    background-color: lightblue;
}

#p2 {
    background-color: lightcyan;
}

#p3 {
    background-color: lightgray;
}