/* ==== GENERIC ==== */
*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    overflow: hidden;
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Fade In */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
/* Bolding */
b {
    font-weight: 500;
}

/* ==== BOOK ==== */
.book::-webkit-scrollbar {
    width: 0px;
}

.book {
    /* Sizing */
    height: 100vh;
    height: 100dvh;

    /* Scrolling */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* ==== PAGES ==== */
.page {
    /* Sizing */
    height: 100%;

    /* Scrolling */
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* ==== DIVIDERS ==== */
.divider {
    /* Sizing */
    height: 75vh;
    width: 120%;

    /* Layout */
    position: absolute;
    top: 110%;
    left: -10%;

    /* Rotation */
    transform: rotate(-5deg);
}

/* Colors */
#d1 { background-color: black; }
#d2 { background-color: red; }

/* ==== SCROLLBAR ==== */
#scrollbar {
    /* Sizing */
    height: 33.3vh;
    width: 7px;

    /* Layout */
    position: absolute;
    top: 0%;
    right: 0%;

    /* Visual */
    background-color: black;
    border-radius: 0px;
}