/* Layout */
* {
    font-family: "Baskervville", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

#total {
    background-color: #F2F3F4;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    font-size: clamp(0.8rem, 1.6vw, 1rem);
    letter-spacing: 0.02rem;
    font-weight: 300;
    width: 52rem;
    max-width: 85vw;
}

#footnote {
    border-top: black solid 1px;
    padding-top: 1rem;
    font-size: clamp(0.7rem, 1.3vw, 0.8rem);
    letter-spacing: 0.02rem;
}

/* Navigation */
#nav, #back {
    width: 52rem;
    max-width: 85vw;
    font-size: clamp(0.8rem, 1.6vw, 1rem);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nav a, #back a {
    font-family: "Baskervville SC", serif;
}

#back {
    justify-content: space-evenly;
}

/* Fonts */
a {
    text-decoration: none;
    font-weight: 625;
    letter-spacing: -0.01rem;
}

.sc {
    font-family: "Baskervville SC", serif;
}

.nosc {
    font-family: "Baskervville", serif;
}

a:hover {
    text-decoration: underline;
}

b {
    font-weight: 625;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    word-break: break-word;
    hyphens: auto;
}

.disabled {
    cursor: default;
    color: #888;
}

.disabled:hover {
    text-decoration: none;
}

::selection {
    background: #88888844;
}

ul {
  margin-left: 2rem;
  padding-left: 0;
}

li {
  padding-left: 0.5rem;
}