/* Fade In */
body {
    overflow: hidden;
    animation: fadeInAnimation ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Book */
.book {
    height: 100vh;
    padding: 0vw 15vw;
    position: absolute; 

    overflow-y: scroll;
    font-family: 'Assistant';
}

.separator {
    height: 10vh;
}

.short {
    height: 5vh;
}

/* Scrollbar */
.book::-webkit-scrollbar {
    width: 0px;
}

#scrollbar {
    height: 10vh;
    width: 7px;

    position: absolute;
    top: 0%;
    right: 0%;

    background-color: black;
    border-radius: 0px;
}

/* Back */
#backwrapper {
    width: 100%;
    position: relative;
    height: 8vh;
}

#back {
    border: 2px solid black;
    width: 8vh;
    height: 8vh;
    border-radius: 4vh;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    transition: all ease-out 0.3s;
}

#back:hover {
    width: 7.2vh;
    height: 7.2vh;
    color: red;
    border: 2px solid red;
}

/* Content */
h1 {
    color: red;
}
/* 
h3 {
    margin-top: 0;
} */