#main {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 2rem;
}

#image {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#image img {
    max-width: 100%;
    height: auto;
}

#col1, #col2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
    gap: 0.7rem;
}

#footnote {
    grid-column-start: 1;
    grid-column-end: span 2;
}