/* Button */
.button {
    /* Font */
    font-family: 'Assistant';
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: clamp(1.85vh, 1.15vw, 2.15vh);
    color: #666;

    /* Font */
    margin-left: 10px;

    /* User Select */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    /* Layout */
    display: flex;
}

.buttonint {
    /* Layout */
    width: 100%;
    height: 100%;
    margin: auto auto;
    
    /* Centered Text */
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /* Border */
    border: 1px solid lightgrey;
    border-radius: 1.5vh;

    /* Transition */
    transition: all ease-in-out 0.25s;
}

/* Hover */
.button:hover > .buttonint {
    color: #000;
    border: 1px solid black;
    cursor: pointer;
    width: 95%;
    height: 95%;
}

/* Button Adjustments */
@media only screen and (max-width: 125vh) {
    .button {
        margin-left: 0px;
        height: 65%;
    }
}