/* Entry */
.entry {
    font-weight: 300;
}

/* Grid Layout For Two */
.two {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 14fr 3fr 3fr;
    grid-template-areas: 
        "text" "button1" "button2";
    row-gap: 10px;
    column-gap: 0.5vw;
}

/* Grid Layout for One */
.one {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15.5fr 4.5fr;
    grid-template-areas: 
        "text" "button1" "button2";
    row-gap: 10px;
    column-gap: 0.5vw;
}

/* Grid Layout For Two Vertically */
/* .two {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 10fr 3fr;
    grid-template-areas: 
            "text button1"
            "text button2";
    row-gap: 0.2vw;
} */

/* Grid Area Labelling */
.text {
    grid-area: text;
}

/* Mobile */
@media only screen and (max-width: 125vh) {
    /* Mobile Grid Layout for Two */
    .two {
        display: grid;
        grid-template-rows: 1fr 6vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "text text"
            "button1 button2";
        row-gap: 10px;
        column-gap: 0.5vw;
    }
    
    /* Mobile Grid Layout for One */
    .one {
        display: grid;
        grid-template-rows: 1fr 6vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "text text"
            "button button";
        row-gap: 10px;
        column-gap: 0.5vw;
    }
}