/* Button */
.button {
    /* Border */
    border: 1px solid lightgrey;
    border-radius: 8px;

    /* Fill */
    color: #666;
    margin-left: 10px;

    /* Centered Text */
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /* Font */
    font-family: 'Assistant';
    font-weight: 400;
    letter-spacing: 0.08vw;

    /* Transition */
    transition: all ease-in-out 0.4s;

    /* User Select */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Hover */
.button:hover {
    color: #000;
    border: 1px solid black;
    cursor: pointer;
    text-shadow:
        -0.05px -0.05px 0 #000,
        0.05px -0.05px 0 #000,
        -0.05px 0.05px 0 #000,
        0.05px 0.05px 0 #000;
}

/* Button Adjustments */
@media only screen and (max-width: 125vh) {
    .button {
        margin-left: 0px;
    }
}