/* Remove Default Scrollbar */
.book::-webkit-scrollbar {
    width: 0px;
}

/* Insert Custom Scrollbar */
#scrollbar {
    /* Sizing */
    height: 10vh;
    width: 7px;

    /* Layout */
    position: absolute;
    top: 0%;
    right: 0%;

    /* Visual */
    background-color: black;
    border-radius: 0px;
}

/* Back Container */
#backwrapper {
    width: 100%;
    position: relative;
    height: 8vh;
}

/* Back Button */
#back {
    /* Layout */
    width: 8vh;
    height: 8vh;

    /* Style */
    border: 2px solid black;
    border-radius: 4vh;

    /* Position */
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translateX(-50%) translateY(-50%);

    /* Transition */
    transition: all ease-out 0.3s;
}

/* Back Button Hover */
#back:hover {
    /* Layout */
    width: 7.2vh;
    height: 7.2vh;

    /* Style */
    color: red;
    border: 2px solid red;
}