/* Body */
body {
    /* Sizing */
    overflow: hidden;
    height: 100vh;

    /* Animation */
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Fade In Animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Book */
.book {
    /* Sizing */
    height: 100vh;
    padding: 0vw 15vw;
    position: absolute; 

    /* Scrolling */
    overflow-y: scroll;
    font-family: 'Assistant';
}

/* Separators */
.separator {
    height: 15vh;
}
.medium {
    height: 10vh;
}
.short {
    height: 5vh;
}

/* Colors */
h1 {
    color: red;
}

/* Mobile Correction */
@media (pointer:none), (pointer:coarse) {
    html {
        height: -webkit-fill-available;
    }

    body {
        height: -webkit-fill-available;
    }

    .book {
        height: -webkit-fill-available;
    }
}