/* Tags */
.tags {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tag {
    color: #fafafa;
    font-family: 'Assistant';
    margin-right: 0.2vw;
    padding: 0.1vh 1.5vh;
    border-radius: 1000px; 
    font-size: clamp(1.5vh, 1.1vw, 1.65vh);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.color01 { background-color: #23404B; }
.color02 { background-color: #275C62; }
.color03 { background-color: #287271; }
.color04 { background-color: #298880; }
.color05 { background-color: #2A9D8F; }
.color06 { background-color: #56A484; }
.color07 { background-color: #82AA79; }
.color08 { background-color: #AEB16E; }
.color09 { background-color: #D9B762; }
.color10 { background-color: #F4A261; }
.color11 { background-color: #EE8959; }
.color12 { background-color: #E76F51; }
.color13 { background-color: #EB886F; }
.color14 { background-color: #8A7185; }
.color15 { background-color: #5A878A; }
.color16 { background-color: #B9706B; }