/* Universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    /* Sizing */
    overflow: scroll;
    height: 100vh;
    padding: 0vh 30vw;
    padding-top: 8vh;

    /* Animation */
    animation: fadeInAnimation ease-in 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  

    /* Font */
    font-family: 'Assistant';
    background-color: #f2f3f4;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 125vh) {
    body {
        padding: 0vh 15vw;
        padding-top: 8vh;
    }
}

/* Fonts */
h1 {
    color: red;
    margin-bottom: 5vh;
}

h3 {
    margin-bottom: 0.75em;
}

p {
    margin-bottom: 0.75em;
    font-size: clamp(1.5vh, 1.1vw, 1.8vh);
}

b {
    font-weight: 500;
}

.text {
    font-size: clamp(1.5vh, 1.1vw, 1.8vh);
}

/* Back */
#backwrapper {
    width: 100%;
    padding-top: 8vh;
    padding-bottom: 8vh;
    position: relative;
    height: 8vh;
}

#back {
    /* Layout */
    width: clamp(6vh, 4.4vw, 7.2vh);
    height: clamp(6vh, 4.4vw, 7.2vh);

    /* Style */
    border: 2px solid black;
    border-radius: 4vh;

    /* Position */
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translateX(-50%) translateY(-50%);

    /* Transition */
    transition: all ease-out 0.3s;
}

#back:hover {
    /* Layout */
    width: calc(0.8*clamp(6vh, 4.4vw, 7.2vh));
    height: calc(0.8*clamp(6vh, 4.4vw, 7.2vh));

    /* Style */
    color: red;
    border: 2px solid red;
}

/* Button */
.button {
    font-family: 'Assistant';
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: clamp(1.85vh, 1.15vw, 2.15vh);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    display: flex;
    padding-top: 0.25em;
    height: 10vh;
}

.buttonint {
    /* Layout */
    width: 100%;
    height: 100%;
    margin: auto auto;
    
    /* Centered Text */
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /* Border */
    background-color: #eee;
    color: #000;
    border-radius: 1vh;

    /* Transition */
    transition: all ease-in-out 0.25s;
}

.button:hover > .buttonint {
    background-color: #e9e9e9;
    color: #000;
    cursor: pointer;
    width: 96%;
    height: 92%;
}

/* Image */
.image {
    position: relative;
    width: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Code */
.full {
    width: 100%;
}

.hljs::-webkit-scrollbar {
    display: none;
}

.hljs {
    background-color: #eee;
}

/* .hljs-keyword {
    color: #f00;
} */

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0px;
}

/* Math */
.katex { 
    font-size: 1em !important; 
}

/* Selections */
::selection {
    background: #00000022;
}